{% extends 'base.html' %}
{% block title %} <h1> login page </h1> {% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
        <center><strong>{{msg}}</strong> </center>
            {% endfor %}
        {% endif %}
    {% endwith %}
<form action="#" method="POST">
   <center> <p><input type="text" name='nm' placeholder="name" /></p>
    <p><input type="email" name='email' placeholder="Email" value="{{email if email}} " /></p>
    <p><input type="submit" value='submit' /></p> </center>
</form>

{% endblock %}