{% extends 'base.html' %}


{% block title %} <center><h1></h1></center>{% endblock %}

{% block content %} 
{% with messages = get_flashed_messages() %}
{% if messages %}
    {% for msg in messages %}
<center><strong>{{msg}}</strong> </center>
    {% endfor %}
{% endif %}
{% endwith %}
<center><h1>search for a player</h1>
<form method="POST">
<p><input type="text" name="lol" placeholder="search for a player"></p>
<p><input type="submit" name="pressed" value="press"></p>
</center>
</form>
{% endblock %}